.chat-container {
    width: 85vw;
    height: 85vh;
    display: flex;
    flex-direction: column;
    margin: 16px;
}

.room-name, .user-name {
    margin-top: 0;
}

.messages-container {
    flex: 1;
    height: 35vh;
    overflow: auto;
    border: 1px solid black;
    border-radius: 7px 7px 0 0;
}

.messages-list {
    list-style-type: none;
    height: 25vh;
    padding: 0;
}

.new-message-input-field {
    height: 15vh;
    font-size: 20px;
    padding: 8px 12px;
    resize: none;
}

.message-item {
    width: 55%;
    margin: 8px;
    padding: 5px 20px 20px 20px;
    word-break: break-word;
    border-radius: 20px;
    color: white;
}

.my-message {
    background-color: rgb(0, 132, 255);
    margin-left: auto;
}

.received-message {
    background-color: #3f4042;
    margin-right: auto;
}

.message-header.username{
    font-size: 1.5rem;
    font-weight: 400;
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
}

.send-message-button {
    font-size: 28px;
    font-weight: 600;
    color: white;
    background: #31a24c;
    padding: 24px 12px;
    border: none;
}

.messages-container, .new-message-input-field, .send-message-button {
    border-color: #9a9a9a;
    border-radius: 7px;
    margin-top: 20px;
}

.chat-header-block{
    display: flex;
}

.user-name{
    margin-left: auto;
}
